/AoFEMfPoDoSSNC/.vs
/AoFEMfPoDoSSNC/AoFEMfPoDoSSNC/bin
/AoFEMfPoDoSSNC/AoFEMfPoDoSSNC/build

*.vcxproj.filters
*.vcxproj.user
*.sln
*.vcxproj
*.vsidx
*.db
*.db-shm
*.db-wal
*.opendb
*.json
*.sqlite
*.dll
*.lib
*.pdb
*.exe
*.txt
*.png
*.obj
